.link{
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: rgb(62, 32, 195);
    font-size: 18px;
    justify-content: center;
    text-align: center; 
    

}

.activeLink{
    composes: link;
    color: brown;
}